* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

span {
    background: url(profile-2.jpg);
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animate 20s linear;   
    pointer-events: none;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -5000%);
    }
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin-left: 10px;
    font-size: 1.5rem;
}